.swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    margin: 0 20px !important;
    background-color: #FFA500;
}

.swiper-button-prev, .swiper-button-next {
    color: #FFA500;
    width: 18px;
}

@media only screen and (max-width: 1023px) {
    .swiper-pagination-bullet {
       display: none;
    }
}

@media only screen and (min-width: 1024px) {
    .swiper-pagination-bullet {
       display: inline-block;
    }

    .swiper-button-prev, .swiper-button-next {
        display: none;
    }
}