.swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    margin: 0 20px !important;
    background-color: #008080;
}

@media only screen and (max-width: 1024px) {
    .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
        margin:0 10px !important;
       
    }
}